/* Declare CSS Variables
 * Note this isn't supported in IE10-IE11, or Opera Mini:
 * http://caniuse.com/#feat=css-variables */
:root {
    --currently-playing-height: 5rem;
    --nav-width: 20rem;
    --quick-anim-time: 0.1s;
    --primary-color: #191A1A;
    --primary-color-light: rgb(54, 56, 56);
    --primary-color-extra-light: rgb(85, 88, 88);
    --secondary-color: #202020;
    --secondary-color-light: #333333;
    --secondary-color-dark: #0a0a0a;
    --text-color: #FDF4C2;
    --tertiary-color: #E5E7E1;
}
/* Show Browser Unsupported warning in IE10 and up. */
#browserWarning {
    display:none; /* Hidden by default, unless we are on IE10 and up. */
    position: absolute;
    width: 100%;
    height: calc(100% - 10rem);
    top: 0;
    left: 0;
    z-index: 2;
    background: #191A1A; /* This is --primary-color */
    color: #FDF4C2; /* This is --text-color */
    text-shadow: 1px 2px #202020; /* This is --secondary-color-light */
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 5rem 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ CSS */
    #browserWarning {
        display: block;
    }
    #songList, #currentlyPlaying, #albumList, #audioPlayer {
        display: none!important;
    }
}
/* Reset HTML */
body, html {
    margin: 0 0 calc(var(--currently-playing-height) * 0.3);
    padding: 0;
    font-family: arial, sans-serif;
    z-index: 1;
    overflow-x: hidden;
}
/* Colors */
#currentlyPlaying, nav li, .song, h1 a {
    color: var(--text-color);
    text-shadow: 1px 2px var(--secondary-color-light);
    font-weight: bold;
}
.song p {
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
    text-shadow: 1px 2px var(--secondary-color-light);
}
#currentlyPlaying {
    background: var(--secondary-color);
}
/* Songs get cool random gradient backgrounds */
.song {
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-light), var(--secondary-color-light));
}
/* Fallback Album Covers */
.song:nth-child(2n) {
    background: linear-gradient(to top left, var(--secondary-color), var(--secondary-color-light));
}
.song:nth-child(3n) {
    background: radial-gradient(50% 47%, var(--secondary-color), var(--secondary-color-dark));
}
.song:nth-child(5n) {
    background: linear-gradient(to bottom right, var(--primary-color), var(--primary-color-light));
}
nav li {
    background: var(--primary-color);
    text-shadow: 1px 2px var(--primary-color-light);
    transition: background ease-in-out var(--quick-anim-time),
                color ease-in-out var(--quick-anim-time);
}
nav li:hover, nav li.active {
    background: var(--primary-color-light);
    text-shadow: 1px 2px var(--primary-color);
    color: var(--secondary-color);
}
/* Custom Elements */
.song {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 15rem;
    height: 12rem;
    padding: 4rem 2rem;
    margin: 0 0 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.29);
}
.song p, .song h2 {
    padding: 0.5rem;
}
.song p {
    display: inline;
}
.song-play-button {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    transition: opacity ease-in-out var(--quick-anim-time);
}
.song:hover .song-play-button, .song.active .song-play-button {
    opacity: 1.0;
}
.song-play-button i {
    font-size: 10rem;
    font-weight: bold;
}
#playStatus {
    font-size: 1.25rem;
}
.header {
    background: var(--secondary-color-dark);
    color: var(--text-color);
    flex-direction: column;
}
.header div:first-child {
    position:relative;
    background-size: cover;
    color: var(--text-color);
    text-shadow: 1px 2px var(--primary-color);
}
.footer {
    background: var(--secondary-color);
    flex-direction: column;
}
.header, .footer {
    display: flex;
    /* width: calc(100vw - 3rem); */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem;
    text-shadow: 1px 2px var(--secondary-color-light);
}
.footer a, .footer a:visited {
    color: var(--tertiary-color);
}
#currentlyPlaying {
    height: calc(var(--currently-playing-height) * 0.75);
    width: calc(100% - 6rem);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    left: 0;
    padding: 0 3rem;
    z-index: 4;
    font-size: 1rem;
}
nav label i.material-icons, #currentlyPlaying i {
    font-size: 2.5rem;
}
.play-copy {
    margin-left: 0.5rem;
}
#songList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    text-align: center;
    position: relative;
    overflow: hidden; /* don't let blurry bg drive page size to be huge because we are scaling 110% */
}
/* transparent cool album background */
.large-bg {
    filter: blur(7px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-size: contain;
    transform: scale(1.1);
}
.song, nav li, #currentlyPlaying i, #progressBar {
    cursor: pointer;
}
.song > * {
    pointer-events: none;
}
#progressBar {
    height: 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    width: 40%;
}
/* Sidebar Navigation */
nav li:last-child() {
    border-bottom: none;
}
nav ul {
    display: none;
}
nav li {
    list-style-type: none;
    width: calc(100% - 2rem);
    padding: 1rem 1rem;
}
nav label {
    position: fixed;
    display: inline-block;
    width: auto;
    bottom: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    user-select: none;
    z-index: 4;
}
/* Get the checkbox out of the way */
nav input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* When the user clicks it, lets show the nav */
nav input[type="checkbox"]:checked ~ ul {
    display: block;
    margin: 0;
    padding: 0;
}
nav input[type="checkbox"]:checked ~ ul li {
    width: calc(100% - 2rem);
}
/* Fix for Android */
body { 
    -webkit-animation: bugfix infinite 1s; 
}
@-webkit-keyframes bugfix { 
    from { padding: 0; } 
    to { padding: 0; } 
}
/* Desktop styles */
@media screen and (min-width:900px) {
    body, html {
        margin: 0;
    }
    nav, #songList {
        /*overflow-y: scroll;*/
        float: left;
    }
    nav {
        width: var(--nav-width);
        /* height: calc(100vh - var(--currently-playing-height)); */
        /*overflow-x: hidden;*/
    }
    nav .mobile-menu-toggle {
        display: none;
    }
    nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    /* Font Sizes */
    h2 {
        font-size: 1.5rem;
    }
    body, ul li {
        font-size: 22px;
        line-height: 34px;
    }
    #currentlyPlaying i {
        font-size: 4rem;
    }
    #songList {
        width: calc(100% - var(--nav-width) - 4rem);
        /* height: calc(100vh - var(--currently-playing-height) - 4rem); */
    }
    #currentlyPlaying {
        height: var(--currently-playing-height);
        padding: 0 0.5rem;
        width: calc(100% - 1rem);
        position: relative;
        font-size: 1.25rem;
        top: 0;
        left: 0;
    }
    #currentlyPlaying p, #currentlyPlaying i {
        position: relative;
    }
    .play-copy {
        display: inline-block;
    }
    .play-copy {
        width: 40%;
    }
    .large-bg {
        background-size: cover;
    }
}