/* Declare CSS Variables
 * Note this isn't supported in IE10-IE11, or Opera Mini:
 * http://caniuse.com/#feat=css-variables */
:root {
    --currently-playing-height: 3.5rem;
    --nav-width: 15rem;
    --quick-anim-time: 0.1s;
    --primary-color: #E2A9CE;
    --primary-color-light: #E6C7D6;
    --primary-color-extra-light: #EEE1DF;
    --secondary-color: #597AB3;
    --secondary-color-light: #7591C2;
    --secondary-color-dark: #4B699E;
    --text-color: #FDF4C2;
    --tertiary-color: #E5E7E1;
}
/* Show Browser Unsupported warning in IE10 and up. */
#browserWarning {
    display:none; /* Hidden by default, unless we are on IE10 and up. */
    position: absolute;
    width: 100%;
    height: calc(100% - 10rem);
    top: 0;
    left: 0;
    z-index: 2;
    background: #E2A9CE; /* This is --primary-color */
    color: #FDF4C2; /* This is --text-color */
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 5rem 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ CSS */
    #browserWarning {
        display: block;
    }
    #songList, #currentlyPlaying, #albumList, #audioPlayer {
        display: none;
    }
}
/* Reset HTML */
body, html {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    z-index: 1;
}
body {
    margin-top: var(--currently-playing-height); /* this lines up with the height of #currentlyPlaying */
}
/* Colors */
#currentlyPlaying, nav li, .song {
    color: var(--text-color);
    font-weight: bold;
}
.song p {
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
}
#songList {
    background: var(--tertiary-color);
}
#currentlyPlaying {
    background: var(--secondary-color);
}
/* Songs get cool random gradient backgrounds */
.song {
    background: linear-gradient(to bottom, var(--primary-color), var(--primary-color-light), var(--secondary-color-light));
}
/* Fallback Album Covers */
.song:nth-child(2n) {
    background: linear-gradient(to top left, var(--secondary-color), var(--secondary-color-light));
}
.song:nth-child(3n) {
    background: radial-gradient(50% 47%, var(--secondary-color), var(--secondary-color-dark));
}
.song:nth-child(5n) {
    background: linear-gradient(to bottom right, var(--primary-color), var(--primary-color-light));
}
nav li {
    background: var(--primary-color);
    transition: background ease-in-out var(--quick-anim-time),
                color ease-in-out var(--quick-anim-time);
}
nav li:hover, nav li.active {
    background: var(--primary-color-light);
    color: var(--secondary-color);
}
/* Custom Elements */
.song {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 15rem;
    height: 12rem;
    padding: 4rem 2rem;
    margin: 0 0 2rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}
.song p, .song h3 {
    padding: 0.5rem;
}
.song p {
    display: inline;
}
.song-play-button {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    transition: opacity ease-in-out var(--quick-anim-time);
}
.song:hover .song-play-button, .song.active .song-play-button {
    opacity: 1.0;
}
.song-play-button i {
    line-height: 9rem;
    font-size: 3rem;
    font-weight: bold;
}
.song:hover .song-play-button {
    display: block;
}
#currentlyPlaying {
    height: var(--currently-playing-height); /* this lines up with the margin-top of body */
    width: calc(100vw - 4rem);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4rem;
}
#currentlyPlaying i {
    position: relative;
    top: 0.4rem;
}
#currentlyPlaying p {
    position: relative;
    top: -0.5rem;
}
#songList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    text-align: center;
}
.song, nav li, #currentlyPlaying i, #progressBar {
    cursor: pointer;
}
.song > * {
    pointer-events: none;
}
#progressBar {
    display: none;
}
/* Sidebar Navigation */
nav li:last-child() {
    border-bottom: none;
}
nav ul {
    display: none;
}
nav li {
    list-style-type: none;
    width: calc(100% - 2rem);
    padding: 1rem 1rem;
}
nav label {
    position: absolute;
    display: inline-block;
    width: auto;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    color: var(--text-color);
    user-select: none;
    z-index: 2;
}
/* Get the checkbox out of the way */
nav input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* When the user clicks it, lets show the nav */
nav input[type="checkbox"]:checked ~ ul {
    display: block;
    margin: 0;
    padding: 0;
}
nav input[type="checkbox"]:checked ~ ul li {
    width: 100%;
}
/* Fix for Android */
body { 
    -webkit-animation: bugfix infinite 1s; 
}
@-webkit-keyframes bugfix { 
    from { padding: 0; } 
    to { padding: 0; } 
}
/* Desktop styles */
@media screen and (min-width:768px) {
    nav, #songList {
        overflow-y: scroll;
        float: left;
    }
    nav {
        width: var(--nav-width);
        height: calc(100vh - var(--currently-playing-height));
        overflow-x: hidden;
    }
    nav .mobile-menu-toggle {
        display: none;
    }
    nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    .song {
        margin: 0 2rem 2rem 0;
    }
    #songList {
        width: calc(100% - var(--nav-width) - 4rem);
        height: calc(100vh - var(--currently-playing-height) - 2rem);
    }
    #currentlyPlaying {
        padding: 0 2rem;
    }
    #progressBar, .play-copy {
        display: inline-block;
    }
    #progressBar {
        position: relative;
        width: 65%;
        display: inline-block;
        height: 1.5rem;
        top: 0.63rem;
        margin: 1.25rem 0 0 1rem;
    }
    .play-copy {
        width: 30%;
    }
}